{% extends "inventory/layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block top %}
    <div>
        <span class="church_name">Created for {{ church_name }}</span>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-6">
        <h3>Existing Rooms</h3>
{#            {% if locations %}#}
            <ul>
                {% for location in locations %}
                <li>{{ location }}</li>
                {% empty %}
                <li>Please create a location</li>
                {% endfor %}
            </ul>
{#            {% else %}#}
{#            {% endif %}#}
        </div>
        <div class="col-sm-6">
            <form action="{% url 'inventory:new_location' %}" method="post" id="location_form">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Add Location" class="btn btn-secondary">
            </form>
            <!-- <button type="button" class="btn btn-secondary" style="margin-left: 2.5%;" form="location_form" value="Submit">Add Location</button>  -->
        </div>
    </div>
{#    Intert a form here to do the following#}
{#    1 ----- render form to add location #}
{#    2 ----- show list of each location. #}

    {#    <h3>inventory</h3>#}

{#    {% if tasks %}#}
{#        <ul>#}
{#            {% for task in tasks %}#}
{#                <li>{{task}}</li>#}
{#                {% empty %}#}
{#                <li>No tasks.</li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    {% else %}#}
{#        <p>There are no tasks. . .</p>#}
{#    {% endif %}#}
{#    <a href="/todo/add">Add Task</a>#}
{#    <a href="{% url 'inventory:index' %}">Add a New Task</a>#}
{% endblock %}
